.hero {
	/* prevent margin from collapsing */
	overflow: auto;
}

.title {
	font-size: 26px;
	font-weight: bold;
}

.subtitle {
	margin-top: 10px;
}

.cover {
	position: relative;
	filter: grayscale(100%);
	transition: all 300ms;
	width: 100%;
	aspect-ratio: 1/1;
	margin: 25px auto 0 auto;
}

.cover:hover {
	cursor: pointer;
}

.cover.open {
	filter: grayscale(0);
}

.info {
	margin-top: 30px;
}

.description {
	text-align: justify;
	line-height: 1.75;
	font-size: 14px;
}

.description > ul {
	margin: 0;
	padding-left: 15px;
}

.description a {
	color: black;
}

@media screen and (min-width: 600px) {
	.cover {
		aspect-ratio: none;
		height: 300px;
	}

	.cover.open {
		height: 600px;
	}
}
